:root {
    --menu-icon: url("menu.png");
    --edit-icon: url("edit.png");
    --tick-icon: url("tick.png");
    --gallery-icon: url("gallery.png");
    --contact-icon: url("contact.png");
    --recharge-icon: url("recharge icon (512x512).png");
    --rescan-icon: url("rescan.png");
    --flashlight-on-icon: url("flashlight on.png");
    --flashlight-off-icon: url("flashlight off.png");
    --safaricom-icon: url("safaricom.png");
    --airtel-icon: url("airtel.png");
    --telkom-icon: url("telkom.png");
    --sim-height: 150px;
} 

.install_prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0);
    display: none;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    margin: 0;
    background: #0099B1;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px 3px #00434E; 
    z-index: 100;
} 

.head {
    margin: 0 0 20px 0;
} 

.icon {
    height: 40px;
    width: 40px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background: var(--recharge-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.head h2 {
    font-weight: 500;
    font-size: 1.5rem
} 

.head h3 {
    font-size: 0.8rem;
    font-weight: 400;
} 

.head p {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
} 

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
} 

.foot > button {
    height: 30px;
    width: fit-content;
    color: #0099B1;
    background: #fff;
    border: 2px solid #0099B1;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #fff;
    margin: 5px 10px; 
    font-weight: 500;
} 

.show_install_prompt {
    animation: pop-in 0.5s ease-out 0s 1 normal forwards;
} 

@keyframes pop-in {
    0% {transform: translate3d(-50%, -50%, 0) scale(0);}
    80% {transform: translate3d(-50%, -50%, 0) scale(1.2);}
    100% {transform: translate3d(-50%, -50%, 0) scale(1);}
} 

.hide_install_prompt {
    animation: pop-out 0.5s ease-in 0s 1 normal forwards;
} 

@keyframes pop-out {
    0% {transform: translate3d(-50%, -50%, 0) scale(1);}
    20% {transform: translate3d(-50%, -50%, 0) scale(1.2);}
    100% {transform: translate3d(-50%, -50%, 0) scale(0);}
} 


/*main content styles*/
.window {
    position: absolute; 
    height: 100vh;
    width: 100vw;
}

.main {
    display: none;
    grid-template-columns: 100vw;
    grid-template-rows: 80px calc(100vh - 180px) 100px;
    background: #0099B1;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
} 

.header > h2, .header h3 {
    width: 100%;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1rem;
} 

.about {
    position: absolute;
    top: 0;
    left: calc(100% - 80px);
    height: 100%;
    width: 80px;
    border: none;
    background-color: transparent;
    background-image: var(--menu-icon);
    background-size: 30px 20px;
    background-repeat: no-repeat;
    background-position: center;
} 

.sims {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: auto;
    background: #fff;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
} 

.sim {
    position: relative;
    margin: 5px 25px;
    padding: 0;
    height: var(--sim-height);
    width: calc(var(--sim-height) * 0.75);
    border-radius: calc(var(--sim-height) * 0.06667);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
} 

.sim:before {
    content: '';
    position: absolute;
    top: calc(var(--sim-height) * -0.13333);
    left: calc(var(--sim-height) * -0.13333);
    height: calc(var(--sim-height) * 0.26667);
    width: calc(var(--sim-height) * 0.26667);
    background: #fff;
    transform: rotate(45deg);
} 

.sim:nth-of-type(1) {
    background-color: #009E53;
    background-image: var(--safaricom-icon);
} 

.sim:nth-of-type(2) {
    background-color: #FF0000;
    background-image: var(--airtel-icon);
    background-size: 80% auto;
} 

.sim:nth-of-type(3) {
    background-color: #0099B1;
    background-image: var(--telkom-icon);
} 

.sim:nth-of-type(4) {
    background-color: #FF25D0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.sim:nth-of-type(4) label {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
} 

input[type="radio"] {
    appearance: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: transparent;
} 

input[type="radio"]:before {
    content: '';
    position: absolute;
    top: calc(var(--sim-height) * 0.03333);
    left: calc(100% - calc(var(--sim-height) * 0.2));
    height: calc(var(--sim-height) * 0.16667);
    width: calc(var(--sim-height) * 0.16667);
    background: #fff;
    border-radius: 50%;
} 

input[type="radio"]:checked:after {
    content: '';
    position: absolute;
    top: calc(var(--sim-height) * 0.05667);;
    left: calc(100% - calc(var(--sim-height) * 0.15));
    transform-origin: center;
    transform: rotate(45deg);
    height: calc(var(--sim-height) * 0.1);
    width: calc(var(--sim-height) * 0.06667);
    box-sizing: border-box;
} 

#sim-1:checked:after {
    border-right: calc(var(--sim-height) * 0.03333) solid #009E53;
    border-bottom: calc(var(--sim-height) * 0.03333) solid #009E53;
} 

#sim-2:checked:after {
    border-right: calc(var(--sim-height) * 0.03333) solid #FF0000;
    border-bottom: calc(var(--sim-height) * 0.03333) solid #FF0000;
} 

#sim-3:checked:after {
    border-right: calc(var(--sim-height) * 0.03333) solid #0099B1;
    border-bottom: calc(var(--sim-height) * 0.03333) solid #0099B1;
} 

#sim-4:checked:after {
    border-right: calc(var(--sim-height) * 0.03333) solid #FF25D0;
    border-bottom: calc(var(--sim-height) * 0.03333) solid #FF25D0;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
} 

.main .footer button, .crop .footer button, .recharged .footer button {
    max-width: 288px;
    height: 40px;
    width: 80%;
    margin: 5px;
    border: 2px solid #F1F1F1;
    border-radius: 10px;
    background: #0099B1;
    color: #fff;
    font-weight: 500;
} 

.disable {
    filter: grayscale(1) brightness(0.7) opacity(0.7) !important;
    pointer-events: none;
} 

.enable {
    filter: grayscale(0) brightness(1) opacity(1) !important;
    pointer-events: auto;
} 


/*About window*/
.about_window {
    background: #fff;
    padding: 20px;
} 

.about_window .head h2, .about_window .head h3, .text, .recharged .head h2, .recharged p {
    color: #676767 !important;
} 

hr {
    margin: 0;
    padding: 0;
    border: none;
    background: #676767;
    height: 0.1px;
} 

.about_window .options button {
    display: block;
    border: none;
    background: transparent;
    color: #676767;
    height: 40px;
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 0.8rem;
} 

.about_window .footer {
    margin: auto;
    margin-top: 40px;
} 




/*Other number window*/
.other_number {
    display: none;
    grid-template-columns: 100vw;
    grid-template-rows: 80px calc(100vh - 80px);
    justify-content: center;
    align-content: center;
    background: #0099B1;
} 

.input_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    background: #fff;
    height: 100%;
    width: 100%;
} 

.input_form > label {
    color: #0099B1;
    font-size: 0.8rem;
    width: 90%;
    height: fit-content;
    margin: 20px 0 20px 0;
} 

.input_form > .field {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: calc(90vw - 50px) 50px;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 90%;
    border: 2px solid #0099B1;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 100px 0;
    padding: 0;
} 

.field > input[type="tel"] {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 0 5px 10px;
    margin: 0;
} 

.contact_picker {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    border-left: 1px solid #0099B1;
    outline: none;
    background: var(--contact-icon);
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
} 

.input_form .footer, .about_window .footer {
    height: fit-content;
    width: 90%;
} 

.input_form .footer button, .about_window .footer button {
    max-width: 288px;
    height: 40px;
    width: 80%;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #0099B1;
    box-shadow: 0 0 0 2px #0099B1;
    color: #fff;
    font-weight: 500;
} 

/*Scan window*/
.scan {
    display: none;
    grid-template-columns: 100vw;
    grid-template-rows: 90px calc(100vh - 90px);
    justify-content: center;
    align-content: center;
    background: #0099B1;
}

.scanner {
    position: relative;
    height: 100%;
    width: 100%;
} 

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
} 

.scanner_frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 250px;
    box-shadow: 0 0 0 1000vmax rgba(0,0,0,0.7);
    background: transparent;
    overflow: visible;
} 

.container_frame {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: visible;
} 

.corner_frame {
    position: absolute;
    height: 10px;
    width: 10px;
} 

.corner_frame:nth-of-type(1) {
    top: 0;
    left: 0;
    box-shadow: -3px -3px 0 0 #0099B1;
} 

.corner_frame:nth-of-type(2) {
    top: 0;
    left: calc(100% - 10px);
    box-shadow: 3px -3px 0 0 #0099B1;
} 

.corner_frame:nth-of-type(3) {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    box-shadow: 3px 3px 0 0 #0099B1;
} 

.corner_frame:nth-of-type(4) {
    top: calc(100% - 10px);
    left: 0;
    box-shadow: -3px 3px 0 0 #0099B1;
} 

.laser {
    position: relative;
    height: 100%;
    width: 2px;
    background: #0099B1;
    box-shadow: -5px 0 5px 0 #0099B1;
    animation: move 1s linear 0s infinite normal backwards paused;
} 

@keyframes move {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(250px, 0, 0);
    }
} 

.visible_footer {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
} 

.visible_footer button, .gallery {
    height: 60px;
    width: 60px;
    border: 2px solid #fff;
    outline: none;
    border-radius: 50%;
    background-color: #0007;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
} 

.gallery {
    background-image: var(--gallery-icon);
    background-size: 70% 70%;
} 

.gallery #image-file {
    display: none;
} 

.menu {
    background-image: var(--menu-icon);
    background-size: 50% 35%;
} 

.flashlight {
    background-size: 70% 70%;
} 

.flashlight_on {
    background-image: var(--flashlight-on-icon);
} 

.flashlight_off {
    background-image: var(--flashlight-off-icon);
} 

.hidden_footer {
    display: block;
    position: absolute;
    top: 50vh;
    left: 0;
    height: 50vh;
    width: 100vw;
    background: #fff;
} 

.show {
    animation: slide-in 0.5s ease-out 0s 1 normal forwards;
} 

@keyframes slide-in {
    0% {top: 100vh;
        transform: translateZ(0);}
    100% {top: 50vh;
          transform: translateZ(0);}
} 

.hide {
    animation: slide-out 0.5s ease-in 0s 1 normal forwards;
} 

@keyframes slide-out {
    0% {top: 50vh;
        transform: translateZ(0);}
    100% {top: 100vh;
          transform: translateZ(0);}
} 

.input {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    height: fit-content;
    overflow: visible;
} 

.width_generator {
	position: absolute;
	border: 1px solid #0099B1;
    border-top: none;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 2.5px 0 2.5px;
    margin: 0;
} 

input[type="text"] {
    display: inline-block;
    width: 125px;
    overflow: auto;
    border: 1px solid #0099B1;
    border-top: none;
    color: #676767;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 2.5px 0 2.5px;
    margin: 0;
    outline: none;
    background: #fff;
} 

input[type="text"]:disabled {
    background: initial;
} 

.border {
    position: absolute;
    top: 0;
    height: 80%;
    width: 2px;
    background: #fff;
    z-index: 2;
} 

.border:first-of-type {
    left: -0.5px;
} 

.border:last-of-type {
    right: -0.5px;
} 

.text {
    position: relative;
    top: calc(25% - 30px);
    left: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
} 

.hidden_footer .footer {
    position: relative;
    top: calc(40vh - 140px);
    left: 0;
    height: fit-content;
    width: 100%;
} 

.hidden_footer .footer > button {
    height: 50px;
    width: 50px;
    margin: 0 10px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
} 

.hidden_footer .footer button:nth-of-type(1) {
    background-image: var(--edit-icon);
} 

.hidden_footer .footer button:nth-of-type(2) {
    height: 70px;
    width: 70px;
    border-color: #00C108;
    background-image: var(--tick-icon);
    background-color: #00C108;
} 

.hidden_footer .footer button:nth-of-type(3) {
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #0099B1;
    background-image: var(--rescan-icon);
    background-color: #0099B1;
    background-size: 70% 70%;
} 

/*Crop window*/
.crop {
    display: none;
    grid-template-columns: 100vw;
    grid-template-rows: 90px calc(100vh - 190px) 100px;
    background: #0099B1;
} 

.crop_container {
    background: #2A2A2A;
    position: relative;
    overflow: scroll;
} 

.crop_container img, .crop_frame {
    position: absolute;
} 

.crop_container img {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    background: transparent;
} 

.crop_frame {
    top: calc(50% - 40px);
    left: calc(50% - 80px);
    height: 80px;
    width: 160px;
    background: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, 0.7);
} 

.crop_frame:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
    padding: 0;
    color: #0099B1;
    font-size: 2rem;
    font-weight: 400;
} 

.crop_frame div {
    position: absolute;
    background: transparent;
    overflow: visible;
} 

.crop_frame div:before {
    content: "";
    position: absolute;
    background: #0099B1;
} 
.top {
    height: 30px;
    width: 100%;
    top: -28px;
    left: 0;
    border-bottom: 2px dashed #0099B1;
} 
.top:before {
    height: 16px;
    width: 10px;
    top: calc(100% - 7px);
    left: calc(50% - 5px);
} 
.right {
    height: 100%;
    width: 30px;
    top: 0;
    left: calc(100% - 2px);
    border-left: 2px dashed #0099B1;
} 
.right:before {
    height: 10px;
    width: 16px;
    top: calc(50% - 5px);
    left: -9px;
} 
.bottom {
    height: 30px;
    width: 100%;
    top: calc(100% - 2px);
    left: 0;
    border-top: 2px dashed #0099B1;
} 
.bottom:before {
    height: 16px;
    width: 10px;
    top: -9px;
    left: calc(50% - 5px);
} 
.left {
    height: 100%;
    width: 30px;
    left: -28px;
    top: 0;
    border-right: 2px dashed #0099B1;
} 
.left:before {
    height: 10px;
    width: 16px;
    top: calc(50% - 5px);
    left: calc(100% - 7px);
} 

/*Recharge window*/
.recharged {
    display: none;
    background: #fff;
} 

.recharged div:nth-of-type(2) {
    position: relative;
    width: 100%;
    top: 5%;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
} 

.recharged .success_icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: var(--tick-icon);
    background-color: #00C108;
    background-size: 115% 115%;
    background-position: center;
    background-repeat: no-repeat;
} 

.recharged p {
    text-align: center;
    margin: 20px;
    font-size: 0.85rem;
} 

.recharged .footer {
    position: relative;
    width: 100%;
    top: 20vh;
} 

@media only screen and (orientation: portrait) and (max-height: 350px) {
    :root {
        --sim-height: calc(calc(100vh - 180px) * 0.8);
    } 
}

@media only screen and (orientation: landscape) and (min-height: 720px) {
    :root {
        --sim-height: 300px;
    } 
} 

@media only screen and (orientation: landscape) and (max-height: 350px) {
    :root {
        --sim-height: calc(calc(100vh - 110px) * 0.8);
    } 
    .hidden_footer {
        height: 100vh;
    } 
    .hidden_footer .footer {
        top: calc(100vh - 140px);
    } 
} 

@media only screen and (orientation: landscape) {
    .about {
        width: 60px;
    } 
    .main {
        grid-template-rows: 60px calc(100vh - 110px) 50px;
    }
    .sim {
        margin: 5px 10px;
    } 
    .other_number {
        grid-template-rows: 100vh;
    } 
    .other_number .header {
        display: none;
    } 
    .input_form label {
        margin: 5px 0 10px 0;
    } 
    .input_form .field {
        margin: 0 0 10px 0;
    } 
    .scan {
        grid-template-rows: 70px calc(100vh - 70px);
    } 
}